* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 107px;
  background-color: #00008B;
  z-index: 10;
  display: flex;
  align-items: center;
}

h1 {
  position: absolute;
  left: 5.5rem;
  top: 1.25rem;
  width: 61.85rem;
  height: 24.7rem;
  color: #DCDCDC;
  font-size: 50px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;

}

main {
  max-width: 1350vw;
  margin-inline: auto;
}

.menu {
  position: absolute;
  right: 2rem;
  left: 38rem;
  top: 4rem;
  width: 70rem;
  height: 2.47rem;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

}

a {
  color: #DCDCDC;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}


img {
  width: 53.39rem;
  position: relative;
  top: 26rem;
  left: 5.8rem;

}


p, h4{
  margin-left: 63.2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  margin-top: 2.6rem;
  line-height: 0.14rem;
}



.botao {
  position: absolute;
  top: 175rem;
  left: 115rem;
}

.botao a {
  display: inline-block;
  width: 2.58rem;
  height: 2.76rem;
  padding-right: 8rem;
  padding-left: 8rem;


  background-color: #00008B;
  color: #DCDCDC;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;

  text-align: center;
  line-height: 2.76rem;
  margin-right: 6rem;

  border-radius: 25rem;
  text-decoration: none;
  border: 0.25rem solid black;
}

.botao a:hover {
  background-color: #0000b2;
}
