* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 107px;
  background-color: #00008B;
  z-index: 10;      
  display: flex;
  align-items: center;
}
h1 {
  position: absolute;
  left: 82px;      
  top: 20px;        
  width: 989.4px;
  height: 24.7px;
  color: #DCDCDC;
  font-size: 50px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;

}
.menu {
  position: absolute;
  right: 20px;
  left: 380px;
  top: 40px;                
  width: 700px;
  height: 24.7px;
  display: flex;
  gap: 20px;
  justify-content: space-between;  
  align-items: center;
 
}
a {
  color: #DCDCDC;           
  text-decoration: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;

}

.parte1{
  display: flex;
  display: flex;            
 align-items: flex-start;
 gap: 20px;
}

img{
  margin-top: 150px;
  width: 700px;
  margin-left: 150px;
}

.textos{
 display: flex;
 flex-direction: column;   
 gap: 10px;
 margin-top: 30px;
 text-align: center;
}

label {
  font-size: 16.6px;
  margin-left: 20px;
  margin-top: 5px;
}

h2{
  margin-top: 20px;
  margin-left: 20px;
}

input{
  border-radius: 30px;
  height: 25px;
  width: 200px;
  text-align: center;
  margin-left: 150px;
  margin-top: 5px;
  display: block;
  margin-top: 5px;
}


.infos2{
  margin-top: -20px;
  flex-direction: column;
  margin-left: 570px;
  
}

.subtitulo{
  font-size: 20px;
}

button {
border-radius: 30px;
width: 200px;
color: white;
background: #00008B;
}

.código, input{
  display: flex;
  align-items: center; 
  gap: 1rem; 
}

p{
margin-top: 20px;
margin-bottom: 20px;
}

h3{
margin-bottom: 20px;
}

.validar{
  margin-top: 10px;
  margin-right: 100px;
}

.desconto{
  margin-right: 170px;
  margin-top: 70px;
  margin-left: 60px;
}

h2{
  margin-left: 200px;
  margin-top: 50px;
}

.form{
  margin-left: 180px;
  margin-top: 10px;
}

.botão2{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
}

.código{
  margin-left: -5px;
}

h3{
  margin-right: 100px;
}

input{
  border-radius: 30px;
  height: 25px;
  width: 200px;
  text-align: center;
  margin-left: 150px;
  margin-top: 5px;
  display: block;
  margin-top: 5px;
}

label {
  font-size: 16.6px;
  margin-left: 20px;
  margin-top: 5px;
}

.promoção{
  margin-left: -90px;
}